label {
  display: block;
  margin-bottom: 0.5em;
  color: gray;
}

input {
  font-size: 1.6rem;
  padding: 0.5rem;
}

button {
  background: #1283bc;
  color: white;
  
  border: none;
  border-radius: 5px;
  
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  
  padding: 0.75rem;
  margin-bottom: 1em;

  display: flex;
  align-items: center;
  justify-content: center;
}

button.google {
  background: white;
  border: 1px solid gray;
  color: gray;
}

button.google img {
  width: 1em;
  margin-right: 0.5em;
}

.divider {
  margin-bottom: 1em;
  text-align: center;

  display: flex;
  align-items: center;
}

.divider div {
  height: 2px;
  flex: 1;
  background: lightgray;
}

.divider .text {
  margin: 0 1em;
  color: lightgray;
}

.input-container {
  margin-bottom: 1em;
}